<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=shopName%></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
         <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/survey">Survey</a></li>
         </ul>
        </nav>
        
        <h1>Welcome to <%=shopName%> Shop</h1>
        <h2>Here are some things we sell</h2>
        <ul>
            <% for(let i = 0; i < productCategories.length; i++) { %>
                <li><%= productCategories[i] %></li>
            <% } %>
        </ul>
    </body>
</html>